*{
    box-sizing: border-box;
    color: dimgrey;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-position: fill;
}
.container{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 30px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    border-bottom: 2px white;
    padding-bottom: 20px;
    color: #ffffff;

}
form{
    border: 1px #c3c3c3;
    width: 70%;
    margin: auto;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
}
input, button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}
input{
    margin-bottom:10px;
}
button{
    margin-top: 20px;
    background-color: green;
    color:  white;
    border:none; 
}
button:hover{
    background-color: darkgreen;
}
